@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #ff9fd5;
	--color-secondary: #94dff6;
	--color-background: #fffaf0;
	--color-text: #4a4a4a;
	--color-light-bg: #e6f3ff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}
